/* .doc{
    padding: 0 110px
} */
.doc .doc-header{
    position: relative;
    width:780px;
    height: 60vh;
    background: linear-gradient(280.02deg, #F9BEC3 13.11%, #FDE5E0 104.68%);
    box-shadow: 0px 40px 48px -48px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    margin:40px auto;
    display: flex;
    justify-content:center;
}
.doc .doc-header .right{
    position: relative;
    width:50%;
}
.doc .doc-header .right .img1{
    position: absolute;
    top: 70px;
    right: 30px;
    z-index: 1;
}
.doc .doc-header .right .img2{
    position: absolute;
    top: 85px;
    right: 25px;
    z-index: 2;
}
.doc .doc-header .right .img3{
    position: absolute;
    top: 100px;
    right: 20px;
    z-index: 3;
}
.doc .doc-header .left{
    position: relative;
    width: 50%;
}
.doc .doc-header .left .doc-desc{
    width: 90%;
    margin:auto;
}
.doc .doc-header .left h3{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    color: #0A2145;
    margin-top: 100px;
}
.doc .doc-header .left p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #343434;
    margin-top: -40px;
}



.doc .library-search-wrapper{
    display: flex;
    align-items: center;
    border: 2px solid #BBC3D0;
    border-radius: 8px;
    height: 60px;
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0;
    margin-bottom: 10px;
}
.doc .library-search-wrapper input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    width: 80%;
    text-indent: 5px;
}
.doc .library-search-span {
    background: #fff;
    color: #EE3C4C;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 0;
    
}
.doc .container{
    display: flex;
    
    width: 80%;
    margin: auto;
    justify-content:space-between;
    align-items:flex-start ;
    flex-wrap: wrap;
    color: #1B2028;

}
.doc .container .card {
    background: white;
    border-radius: 32px;
    width: 300px;
    min-height: 150px;
    border: 1px solid #BBC3D0;
    border-radius: 16px;
    margin: 20px 0px 20px 0px;
    box-shadow: 0px 16px 16px -16px rgba(10, 33, 69, 0.25);
}
.doc .container .card h3, .doc .container .card p {
    margin-left: 15px !important;
}

.doc .container .card .el {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    gap: 10px;

}
.doc .container .card .el span {
    padding-top: 16px;
    font-family:'Open Sans';
    font-style: 600;
    font-size: 20px;
    line-height: 28px; 
}
.doc .container .card .el p{
    margin-left: -30px!important; 
}
.doc .container .card .el button{
    padding: 10px 0px;
    gap: 8px;
    width: 100px;
    height: 48px;
    font-family:'Open Sans';
    font-style: 600;
    font-size: 20px;
    line-height: 28px; 
    align-items: center;
    text-align: center !important;
    background:white;
    color: #EE3C4C;
    border: none
}
@media only screen and (max-width: 768px) {
    .doc .doc-header{
        width: 70%;
        height: auto;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        padding: 40px 0px;
    }
    .doc .doc-header .right {
        display: none;
    }
    .doc .doc-header .left {
        width: 100%;
    }
    .doc .doc-header .left h3{
        margin-top: 0px;
    
    }
    .doc .container {
        justify-content:center;
    }
    .doc .container .card{
        padding:5%;
    }

}
@media only screen and (max-width: 550px) {
    .doc .doc-header h3{
        font-size: 30px !important;
        padding-bottom: 15px;
    }
    .doc .doc-header p{
        font-size: 16px !important;
    }
}