.doc{
    /* position: absolute; */
    top: 120px;
     /* min-height:100vh; */
    bottom:384px;
    /* z-index: 5; */
    margin-bottom: 300px;

}

.doc .library-search-wrapper{
    /* position: absolute; */
    display: flex;
    align-items: center;
    border: 2px solid #5600e2;
    border-radius: 8px;
    height: 60px;
    width: 430px;
    margin-top: 50px;
    padding: 0;
}
.doc .library-search-wrapper input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    width: 80%;
    text-indent: 5px;
}
.doc .library-search-span {
    background-color: #5600e2;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    padding: 0;
}