@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
 margin: 0;
padding: 0;   
}
main{
font-family: 'Open Sans';
margin: 0;
padding: 0;
}

.Main-Container{
display: flex;
width: 100%;
margin: 0;
padding: 0;
}


.Left-Form-Container{
background: #0A2145;
border-radius: 0px 30px 30px 0px;
text-align: center;
width: 711px;
height: 1024px;

}
.Icon{
justify-content: center;
align-items: center;
position: absolute;
width: 226px;
height: 226px;
left: 250px;
top: 399px;
}

.Right-Form-Container{
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40px;
    left:350px ;
    margin-top: auto;
    margin-bottom: auto;
}
.heading-text{
    ont-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
text-align: center;
color: #000000;
}
.resend-link{
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
text-align: center;
color: #051123;
margin-top:55px;
width: 480px;
height: 49px;
border: 1px solid #0A2145;
filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.1));
border-radius: 8px;
}
.mail-button{
margin-top: 76px;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
color: #FFFFFF;
background: linear-gradient(180deg, #F06243 0%, #EE3C4C 100%);
border: 1px solid #DDE1E8;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 8px;
width: 480px;
height: 49px;
}
.button-wrapper{
    display: flex;
    flex-direction: column;
    gap: px;
}

.base-link{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
text-align: center;
margin-top: 26px;
text-align: center;
color: #1B2028;
}

a{
    text-decoration: none;
    color: #EE3C4C;
}

h2{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 40px;
text-align: center;
color: #051123;
margin-top: 66px;
}
