

.hero {
  width: 100%;
  background-color: white;
  align-items: center;
}
.hero-div {
  background-color: #0a2145;
  /* height: 170px; */
}
.hero-div h1 {
  color: white;
  padding-top: 80px;
  margin-bottom: 20px;
  margin-top: 0px;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 64px;
  font-family: "Open Sans", sans-serif;
}
.hero .hero-text {
  color: white;
  text-align: center;
  margin: auto;
  width: 50%;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.Explore{
  background-color: #0a2145;
  margin-bottom: 0;
  display: flex;

}
.Explore a {
  color: white;
  padding-top: 40px;
  text-decoration: none;
  font-size: 16px;
}
.Explore button {
  width: 130px;
  height: 40px;
  border: none;
  border-radius: 7px;
  background: linear-gradient(180deg, #f06243 0%, #ee3c4c 100%);
  color: white;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  margin-top: 70px;
  margin-bottom: 40px;
}
.codes{
  background-color: #0a2145;
  margin-top: 0;

}
.codes h1{
  margin-top:0px;
  border: none;
  outline: none;
  width: 60%;
}
.codes .code-codes h1 img{
  object-fit: contain !important;
  width: 100%;
}
.code-codes {
  /* margin-left: 20%; */
  /* margin-right: 20%; */
  width: 100%;
}
.code-codes .code1{
  margin-left: 20%;
}

.code-codes .code2 {
  margin-left: 19%;
  margin-top: -19%;
}
.code-codes .code3 {
  margin-top: -13.5%;
  margin-left: 18%;
}
.brand {
  min-height: 300px;
  background-color: #eaf1fc;
  margin-top: -68px;
}
.brands-with {
  margin-top: 40px;
}
.brands-with .brand1 {
  margin-top: 60px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  color: #0a2145;
  font-family: "Open Sans", sans-serif;
  padding-top: 60px;
}
.brands-with .brand2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #1b2028;
  width: 80%;
  margin: auto;
  margin-top: -15px;
}

.Part {
  display: flex;
  /* margin: auto; */
  line-height: 24px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.partner3 {
  margin-top: -5px;
}
.choose {
  padding-top: 50px;
}
.choose h1 {
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #0a2145;
  flex: none;
}
.choose p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #0a2145;
}

.wrapper {
  margin: 0 auto;
  padding: 0;
  width: 84%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

/* .wrapper:before,
.wrapper:after {
  content: " ";
  display: table;
}

.wrapper:after {
  clear: both;
} */

.wrapper .box {
  margin: 10px auto;
  padding: 0;
  width: 350px;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
}

.box .content {
  margin: 10px;
  padding: 10px;
  min-height: 328px;
  color: #1b2028;
  background-color: #fef2ef;
  font-weight: 400;
  font-size: 16px;
  font-family: "Open Sans";
  box-sizing: border-box;
  border-radius: 32px;
  margin-left: 20px;
  margin-right: 20px;
}

.box .content11 {
  margin: 10px;
  padding: 10px;
  min-height: 328px;
  color: #1b2028;
  background-color: #eaf1fc;
  font-weight: 400;
  font-size: 16px;
  font-family: "Open Sans";
  box-sizing: border-box;
  border-radius: 32px;
  margin-left: 20px;
  margin-right: 20px;
}

.box .content .content1 {
  color: #1b2028;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
}

.box .content .pinkCol {
  width: 15px;
  height: 15px;
  padding: 15px 30px 30px 15px;
  border-radius: 50%;
  margin-left: 120px;
  margin-right: 120px;
}
.box .content11 .bluurur {
  width: 15px;
  height: 15px;
  padding: 15px 30px 30px 15px;
  border-radius: 50%;
  margin-left: 120px;
  margin-right: 120px;
}

.box .content .pinkCol {
  background: #ffc0c0;
  color: #f06243;
}
.box .content11 .bluurur {
  background-color: #abc7f3;
  color: #0a2145;
}

.home_about{
  background: white;
  width:100%
}

.about_section {
    display: flex;
    width: 84%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 6rem 0 8rem 0;
}

.about_text {
    width: 35%;
}

.about_link {
    color: #EE3C4C;
    font-weight: 600;
}

.about-arrow{
    vertical-align: -2.5px;
}

.testimonial_section {
    background-color:  #EAF1FC;
    padding: 4rem;
    text-align: center;
    margin-bottom: 5.5rem;
}
.testimonials__ {
    display: flex;
    width: 84%;
    justify-content: center;
    flex-wrap: wrap;
    margin:auto;
}
.testimonial {
    background-color: #FFFFFF;
    width: 200px;
    max-height: 348px;
    margin: auto;
    margin-top: 2.5rem;
    
    box-shadow: 0px 24px 24px -24px rgba(5, 17, 35, 0.2);
    border-radius: 32px;
    padding: 2.5rem;
}
.newsletter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter_section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #0A2145;
    color: #FFFFFF;
    width: 70%;
    margin: auto;
    padding: 37px 72px;
    border-radius: 32px;
    margin-bottom: 88px;
}
.newsletter_text {
    /* width: 33%; */
    margin: 0 auto;
    margin-bottom: 10px;
}
.newsletter_input {
    background-color: #FFFFFF;
    min-width:400px ;
    height: 3rem;
    border-radius: 8px;
    margin: 0 auto;
}
.newsletter_email::placeholder {
    font-size: 16px;
}
.newsletter_input input:focus {
    outline: none;
}
.newsletter_email {
    border: none;
    height: 90%;
    padding-left: 10px;
    border-radius: 8px;
    color:  #1B2028;
}

.newsletter_arrow {
    color: #EE3C4C;
    vertical-align: -0.4rem;
    transform: scale(1.5);
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .hero-div{
    display: flex;
    flex-direction: column;
  }
  .hero-div h1{
    font-size: 24px;
  }
  .about_section img{
    width: 100%;
    height: auto;
    margin: auto;
  }
  .about_text{
    width: 100%;
  }

}


