

main{
font-family: 'Open Sans';
}

.Main-Container{
display: flex;
width: 100%;
}

.Main-Container{
display: flex;
flex-direction: row;
}

.Left-Form-Container{
background: #0A2145;
border-radius: 0px 30px 30px 0px;
text-align: center;
width: 711px;
height: 1024px;

}
.Icon{
justify-content: center;
align-items: center;
position: absolute;
width: 226px;
height: 226px;
left: 250px;
top: 399px;
}

main h2{
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 40px;
text-align: center;
color: #051123;
margin-top: 51px;

}
.Right-Form-Container{
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 40px;
    left:350px ;
}
.logo{
    margin-top: 124px;
}
#inputs{
width: 480px;
height: 49px;
border: 1px solid #DDE1E8;
outline: none;
padding-left: 10px;
margin-top: 23px;
}
main label{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 20px;
text-align: center;
color: #051123;
margin-top:89px ;
}

form{
    display: flex;
    flex-direction: column;
}
main p{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
text-align: center;
color: #000000;
margin-top: 10px;
}

#btn-1{
width: 480px;
height: 49px;
align-items: center;
padding: 10px;
gap: 10px;
background: linear-gradient(180deg, #F06243 0%, #EE3C4C 100%);
border: 1px solid #DDE1E8;
box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 8px;
color:white;
margin-top: 34px;
}
#btn-2{
width: 480px;
height: 49px;
align-items: center;
padding: 10px;
gap: 10px;
border: 1px solid #0A2145;
filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.1));
border-radius: 8px;
color: #051123;
margin-top: 64px;
}
