.team-container {
    display: inline-block;
    width: fit-content;
}
.member-img {
    object-fit: cover;
    width: 270px;
    height: 270px;
}
.member-name {
    padding-top: 1rem;
}
.member-name, .member-role, .member-status {
    margin: 0;
}
.member-name, .member-status {
    font-weight: 600;
}